<% if(page.no_comments) { %>
<p style="opacity: 0.6; padding: 30px 15px" align="center">
    <small><%= __('CommentsDisabled') %></small>
</p>
<% } else { %>
<% if(theme.disqus){ %>
<div class="post-comment-wrapper">
    <div id="disqus_thread"></div>
</div>
<% } else if(theme.livere){ %>
<div id="lv-container" data-id="city" data-uid="<%= theme.livere %>">
</div>
<% } %>
<% } %>

<!-- <div class="comments" id="comments">
<script src="https://utteranc.es/client.js"
        repo="moonipulate/BlogPost"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div> -->

<!-- <% if(theme.gittalk.enable) { %>
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
      const gitalk = new Gitalk({
        clientID: '04d911b679ebfda66a6b',
        clientSecret: 'a577d54f82434849dbd2ac6e29e8f7398cbf0a18',
        repo: 'BlogPost',
        owner: 'moonipulate',
        admin: 'moonipulate',
        id: (location.pathname).split("/").pop().substring(0, 49),      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')
    </script>
    <% } %> -->
