<% if(page.no_comments) { %>
<p style="opacity: 0.6; padding: 30px 15px" align="center">
    <small><%= __('CommentsDisabled') %></small>
</p>
<% } else { %>
<% if(theme.disqus){ %>
<div class="post-comment-wrapper">
    <div id="disqus_thread"></div>
</div>
<% } else if(theme.livere){ %>
<div id="lv-container" data-id="city" data-uid="<%= theme.livere %>">
</div>
<% } %>
<% } %>

<% if(theme.gittalk.enable) { %>
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
      const gitalk = new Gitalk({
        clientID: 'a6b83923eb85c313c7dc',
        clientSecret: 'a1c2a02c9697de309fa9335f94efb85ced207315',
        repo: 'BlogPost',
        owner: 'moonipulate',
        admin: ['moonipulate'],
        id: '<%= page.date %>',      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')
    </script>
    <% } %>
